<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../ui/styles.css"/>
	</head>
	<body>
		<div class="title">
			<h1>Budapest - Barcelona, 14 Nov 2023</h1>
		</div>
		<div id="container">
			{{range $i, $data := .}}
			{{if $data.IsDirect}}
			<div class="itinery__section">
				<div id="option-section">
					<h1 class="heading">Itinerary {{$i}}</h1>
				</div>
				<div class="wrapper">
					<div class="flight__data">
						<div class="flight__data__left">
							<p>{{$data.Price}} HUF</p>
						</div>
						<div class="score">
							<div>Carrier</div>
							<span>{{ index (index $data.SegmentDetails 0).MarketingCarrier }}</span>
						</div>
						<div class="flight__data__right">
							<p>14 Nov 2023</p>
						</div>
					</div>
					<div class="flight__data">
						<div class="flight__data__left">
							<time class="hour">{{ index (index $data.SegmentDetails 0).DepartTime }}</time>
							<span class="city">{{ index (index $data.SegmentDetails 0).OriginPlaces 0}}</span>

						</div>
						<div class="flight__data__length">
							<span class="arrow">&#10230;</span>
							<span class="flight-time">{{ index (index $data.SegmentDetails 0).DurationInMinutes }} min</span>
						</div>
						<div class="flight__data__right">
							<time class="hour">{{ index (index $data.SegmentDetails 0).ArriveTime }}</time>
							<span class="city">{{ index (index $data.SegmentDetails 0).DestinationPlaces 0}}</span>
						</div>
					</div>
				</div>
			</div>
			{{end}}
			{{end}}
		</div>
	</body>
</html>

<!-- <body>
	<div class="title">
		<h1>Budapest - Barcelona, 14 Nov 2023</h1>
	</div>
	<div id="container">
		<div class="itinery__section">
			<div id="option-section">
				<h1 class="heading">Itinerary 1</h1>
			</div>
			<div class="wrapper">
				<div class="flight__data">
					<div class="flight__data__left">
						<p>26,013 HUF</p>
					</div>
					<div class="score">
						<div>Score</div>
						<span>0.87349</span>
					</div>
					<div class="flight__data__right">
						<p>14 Nov 2023</p>
					</div>
				</div>
				<div class="flight__data">
					<div class="flight__data__left">
						<time class="hour">12:45</time>
						<span class="city">Budapest</span>
					</div>
					<div class="flight__data__length">
						<span class="arrow">&#10230;</span>
						<span class="flight-time">2h 30m</span>
					</div>
					<div class="flight__data__right">
						<time class="hour">16:25</time>
						<span class="city">Barcelona</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body> -->
