<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../ui/styles.css"/>
	</head>
	<body>
		<div class="title">
			<h1>{{ (index .Query.QueryLegs 0).OriginPlaceId.Iata }} - {{ (index .Query.QueryLegs 0).DestinationPlaceId.Iata }}</h1>
		</div>
		<div id="container">
			{{range $i, $data := .Options}}
			<div class="itinery__section">
				<div id="option-section">
					<h1 class="heading">Itinerary {{$i}}</h1>
				</div>
				{{ range $data.SegmentDetails }}
					<div class="wrapper">
						<div class="flight__data">
							<div class="flight__data__left">
								<p>{{$data.Price}} HUF</p>
							</div>
							<div class="score">
								<div>Carrier</div>
								<span>{{ .MarketingCarrier }}</span>
							</div>
							<div class="flight__data__right">
								<p>14 Nov 2023</p>
							</div>
						</div>
						<div class="flight__data">
							<div class="flight__data__left">
								<time class="hour">{{ .DepartTime }}</time>
								<span class="city">{{ index .OriginPlaces 0 }}</span>

							</div>
							<div class="flight__data__length">
								<span class="arrow">&#10230;</span>
								<span class="flight-time">{{ .DurationInMinutes }} min</span>
							</div>
							<div class="flight__data__right">
								<time class="hour">{{ .ArriveTime }}</time>
								<span class="city">{{ index .DestinationPlaces 0 }}</span>
							</div>
						</div>
					</div>
					{{end}}
				</div>
			{{end}}
		</div>
	</body>
</html>
