<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../ui/styles.css"/>
	</head>
	<body>
		<div class="title">
			<h1>{{ (index .Query.QueryLegs 0).OriginPlaceId.Iata }} - {{ (index .Query.QueryLegs 0).DestinationPlaceId.Iata }}</h1>
			<h1>{{ (index .Query.QueryLegs 0).Date.Year }} {{ (index .Query.QueryLegs 0).Date.Month }} {{ (index .Query.QueryLegs 0).Date.Day }}</h1>
		</div>
		<div id="container">
			{{ range $i, $data := .Options }}
			<div class="option__section">
				<div class="option-header">
					<h1 class="heading">Option {{ $i }}</h1>
					<h1 class="heading">{{ $data.Price }} HUF</h1>
					<div class="itinerary-info">{{ $data.ItineraryId }} - {{ $data.OptionIndex }}</div>
				</div>
				{{ range $data.SegmentDetails }}
					<div class="wrapper">
						<div class="flight__data">
							<div class="flight__data__left">
								<p>{{ .DepartAt }}</p>
							</div>
							<div class="carrier__info">
								<div>Carrier</div>
								<span>{{ .MarketingCarrier }}</span>
							</div>
							<div class="flight__data__right">
								<p>{{ .ArriveAt }}</p>
							</div>
						</div>
						<div class="flight__data">
							<div class="flight__data__left">
								<time class="hour">{{ .DepartTime }}</time>
								<span class="city">{{ index .OriginPlaces 0 }}</span>

							</div>
							<div class="flight__data__length">
								<svg class="airplane" viewBox="0 0 23.1 24">
									<path></path>
								</svg>
								<span class="flight-time">{{ .DurationInMinutes }} min</span>
							</div>
							<div class="flight__data__right">
								<time class="hour">{{ .ArriveTime }}</time>
								<span class="city">{{ index .DestinationPlaces 0 }}</span>
							</div>
						</div>
					</div>
					{{ end }}
				</div>
			{{ end }}
		</div>
	</body>
</html>
