:root {
    --font-family: "Ubuntu Mono", monospace;
    /* --font-family: 'Manrope', sans-serif;*/
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    --color-bg: #040C18;
    --color-footer: #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
}

body {
	font-family: var(--font-family);
	font-size: 1.5em;
	background: var(--color-bg);
}

h1 {
	font-size: 1.5em;
	margin-block-start: 15px;
	margin-block-end: 15px;
}

p {
	margin-block-start: 15px;
	margin-block-end: 15px;
}

.title {
	color: var(--color-subtext);
	text-align: center;
}

.heading {
	color: var(--color-footer);
	font-size: 1.5em;
	text-align: center;
}

#container {
	margin-left: auto;
	margin-right: auto;
	width:80%;
	display: flex;
	flex-wrap: wrap;
}

.option__section {
	display: flex;
	flex-basis: 32%;
	flex-direction: column;
	border: 2px solid var(--color-text);
	margin: 10px;
}

.option-header {
	margin: 5px;
	background: var(--gradient-bar);
	border-radius: 0.3125rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.wrapper {
	background: var(--gradient-text);
	border-radius: 0.3125rem;
	box-shadow: 5px 5px 4px 2px #0003;
	display: block;
	transition: transform .2s ease,box-shadow .2s ease;
	margin: 5px;
}

.flight__data {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: row;
}

.flight__data__left {
	margin-left: 15px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.flight__data__right {
	margin-right: 15px;
	text-align: right;
	display: flex;
	flex-direction: column;
}

.flight__data .hour {
	font-size: 2em;
}

.flight__data .city {
	font-size: 0.5em;
	text-align: center;
}

.flight__data__length {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

.airplane {
	margin-top: 10px;
}

.airplane path {
	fill: var(--color-bg);
	stroke: none;
	d: path("m19.2 10.3-3.7-.1a19 19 0 0 1-2-2.3.46.46 0 0 0 .3-.5v-.6a.47.47 0 0 0-.5-.5h-1.2l-2.5-3C8.5 1.9 7.6.9 7.4.7A3.3 3.3 0 0 0 5.3 0l4.3 9.8v.6H6.9a19.35 19.35 0 0 0-2.9.4L1.2 7.7H.1l1.4 3.6c-.9.2-1.5.5-1.5.8s.7.6 1.6.8L.2 16.7h1.1l2.9-3.3a26.55 26.55 0 0 0 2.8.3h2.7v.5L5.4 24a3.46 3.46 0 0 0 2.1-.7c.2-.2 4.3-5.2 4.8-5.7h1a.56.56 0 0 0 .5-.6v-.6a.52.52 0 0 0-.2-.4c.9-1 1.5-1.9 1.9-2.3h3.7c.7 0 3.9-.8 3.9-1.7s-3.3-1.7-3.9-1.7z")
}

.carrier__info, .summary__info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.summary__info {
	margin-top: 15px;
	margin-bottom: 15px;
}

.carrier__info div {
	font-size: 0.8em;
	margin-top: 15px;
}

.carrier__info span, .summary__info span {
	text-align: center;
	font-size: 0.5em;
}

.flight-time {
	margin-top: 5px;
	text-align: center;
	font-size: 0.5em;
}
.itinerary-info, .segment-info {
	display: none;
}
