:root {
    --font-family: "Ubuntu Mono", monospace;
    /* --font-family: 'Manrope', sans-serif;*/
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    --color-bg: #040C18;
    --color-footer: #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
}

body {
	font-family: var(--font-family);
	font-size: 1.5em;
	background: var(--color-bg);
}

h1 {
	font-size: 1.5em;
	margin-block-start: 15px;
	margin-block-end: 15px;
}

p {
	margin-block-start: 15px;
	margin-block-end: 15px;
}

.title, .heading {
	color: var(--color-subtext);
	text-align: center;
}

.itinery__section {
	display: flex;
	flex-basis: 32%;
	flex-direction: column;
}

#container {
	margin-left: auto;
	margin-right: auto;
	width:80%;
	display: flex;
	flex-wrap: wrap;
}
.wrapper {
	background: var(--gradient-text);
	border-radius: 0.3125rem;
	box-shadow: 5px 5px 4px 2px #0003;
	display: block;
	transition: transform .2s ease,box-shadow .2s ease;
	margin: 5px;
}

.flight__data {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
}

.flight__data__left {
	margin-left: 15px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.flight__data__right {
	margin-right: 15px;
	text-align: right;
	display: flex;
	flex-direction: column;
}

.flight__data .hour {
	font-size: 2em;
}

.flight__data .city {
	font-size: 0.5em;
	text-align: center;
}

.flight__data__length {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

.score {
	display: flex;
	flex-direction: column;
}

.score div {
	font-size: 0.8em;
	margin-top: 15px;
}

.score span {
	text-align: center;
	font-size: 0.5em;
}

.flight-time {
	text-align: center;
	font-size: 0.5em;
}

.arrow {
	zoom: 2;
}
